//---------GLOBAL VARIABLES----------//
$banner: rgb(246, 148, 5);



body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../images/banner_headphones.jpg");
  background-size: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  position: relative;

  h1 {
    position: absolute;
    top: 270px;
    left: 70px;
    color: white;
    font-size: 150px;
  }

  .track_img {
    position: absolute;
    top: 380px;
    left: 635px;
    border-radius: 100px;
    width: 200px;
  }
}

#permalink_url{
  color: black;
  text-decoration: none;
  position: relative;
  bottom: 50px;
  left: 550px;
}

#permalink_url:hover{
  cursor: pointer;
  color: rgba(255, 150, 0, 0.6);
}

.track_name{
  text-align: center;
  margin: 100px auto;
  font-size: 40px;
  border-bottom: 1px solid grey;
  width: 700px;
}

#songControls{
  text-align: center;

}

.fa {
  margin-left: 50px;
}

#created_at{
  position: absolute;
  bottom: 5px;
  left: 20px;
}

